@import url("https://fonts.adobe.com/fonts/degular-variable?vf-instance=Text+Thin&vf-font-size=100&vf-font=DegularVar-TextThin");
@import url("https://fonts.adobe.com/fonts/degular-variable?vf-axes=wght%2C700%2Copsz%2C6%2Cital%2C0&vf-font-size=100&vf-font=DegularVar-TextThin");
@import url("https://fonts.adobe.com/fonts/degular-variable?vf-axes=wght%2C600%2Copsz%2C6%2Cital%2C0&vf-font-size=100&vf-font=DegularVar-TextThin");
@import url("https://fonts.adobe.com/fonts/degular-variable?vf-axes=wght%2C500%2Copsz%2C6%2Cital%2C0&vf-font-size=100&vf-font=DegularVar-TextThin");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style-type: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
}

.container {
  padding: 16px 5px;
  font-family: "degular-variable", sans-serif;
  color: #131316;
}

.app-wrapper {
  margin: 16px;
  position: relative;
}
@media screen and (min-width: 1600px) {
  .container {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 16px 5px;
  }
  .app-wrapper {
    margin: 0px;
    position: relative;
  }
}
